.cardsBox {
  box-sizing: border-box;
  display: grid;

  background-color: yellow;
  gap: 1rem;
  padding: 1rem;
}
.box4x4 {
  grid-template-columns: auto auto auto auto;
}
.box4x5 {
  grid-template-columns: auto auto auto auto auto;
}
.box4x6 {
  grid-template-columns: auto auto auto auto auto auto;
}
