.timer {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  color: black;
  justify-content: center;
  border-radius: 5px;
  width: 200px;
  height: 150px;
  justify-content: flex-start;
  &__count-value {
    background-color: black;
    color: yellow;
    font-size: 2rem;
    text-align: center;
    border: 2px solid yellow;
    padding: 1rem;
  }
  &__title {
    color: black;
    font-weight: 600;
    padding: 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 1110px) {
  .timer {
    width: 130px;
  }
}
@media only screen and (max-width: 860px) {
  .timer {
    height: 100px;
  }
}
