.timer {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  color: black;
  justify-content: center;
  width: max-content;
  border-radius: 5px;
  &__count-value {
    background-color: black;
    color: yellow;
    font-size: 3rem;
    text-align: center;
    border: 2px solid yellow;
  }
  &__title {
    color: black;
    font-weight: 600;
    padding: 10px;
  }
}
